{erl_opts, [debug_info]}.
{deps, [
         {iso8601, {git, "https://github.com/erlsci/iso8601.git", {tag, "1.3.1"}}}
       ]}.

{relx, [{release, {meck_test, "0.1.0"},
         [meck_test,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]},
            {test, [{deps, [meck]}]}]
}.
