<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="appConfiguration">
      <section name="logging"
               type="SampleLibrary.LogSettings, SampleLibrary"
               allowLocation="true"
               allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>
  <appConfiguration>
    <logging>
      <application level="2"
                   name="test_logger"
                   logFilePath="C:\ProgramData\MyApp\TestLogs\"
                   includeDate="false" />
    </logging>
  </appConfiguration>
</configuration>