<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="application"
             type="AttributesExamples.Application, AttributesExamples" />
  </configSections>
  <application>
    <logging name="log.txt"
             location="c:\logs"
             level="Warn" />
  </application>
</configuration>